{ 
   "swagger":"2.0",
   "info":{ 
      "version":"v1",
      "title":"ItAintBoring API",
      "description":"ItAintBoring API",
      "termsOfService":"None",
      "contact":{ 
         "name":"ItAintBoring",
         "url":"https://www.itaintboring.com",
         "email":"ashlega@yahoo.com"
      }
   },
  "host": "itaintboring.com",
  "basePath": "/api/v1",
  "schemes": [
    "http","https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
   "paths":{ 
      
      "/regex_find_first_group":{ 
         "post":{ 
            "tags":[ 
               "Regex Find First Group"
            ],
            "operationId":"Post",
            "consumes":[ 
               "application/json-patch+json",
               "application/json",
               "text/json",
               "application/*+json"
            ],
            "produces":[ 
               "text/plain",
               "application/json",
               "text/json"
            ],
            "parameters":[ 
               { 
                  "name":"data",
                  "in":"body",
                  "required":false,
                  "schema":{ 
                     "$ref":"#/definitions/RegexData"
                  }
               }
            ],
            "responses":{ 
               "200":{ 
                  "description":"Success",
                  "schema":{ 
                     "$ref":"#/definitions/RegexResult"
                  }
               }
            }
         }
      }
   },
   "definitions":{ 
      
      "RegexData":{ 
         "type":"object",
         "properties":{ 
            "pattern":{ 
               "type":"string"
            },
            "value":{ 
               "type":"string"
            }
         }
      },
      "RegexResult":{ 
         "type":"object",
         "properties":{ 
            "data":{ 
               "type":"string"
            }
         }
      }
   }
}